## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## JetBrains Rider
.idea/
*.ldev
*.args

## Build results
[Bb]in/
[Oo]bj/
out/
artifacts/

## NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
*.nuget.props
*.nuget.targets

## Rider
*.rider.project.model.nuget.info
*.rider.project.restore.info

## Logs
*.log

## OS
.DS_Store
Thumbs.db
