.vs/GitHub.slnx/FileContentIndex/c05ab15d-2707-4e71-b93a-fec6fe439a8d.vsidx
Calidad_API/.vs/Calidad_API.slnx/FileContentIndex/1dde6e24-8ff5-474d-bc7b-273cab3a0015.vsidx
Calidad_API/.vs/Calidad_API.slnx/FileContentIndex/238495e2-c1bc-47de-ad91-91377e7e23c4.vsidx
Calidad_API/.vs/Calidad_API.slnx/FileContentIndex/835374de-15a5-420c-992a-f333c38c926a.vsidx
Calidad_API/.vs/Calidad_API.slnx/FileContentIndex/8506e97d-2776-46d1-bda8-96c00a612036.vsidx
Calidad_API/.vs/Calidad_API.slnx/FileContentIndex/90878d87-ea8e-4694-bce8-2a7329fbffc7.vsidx
*.vsidx
